$primary-background: #264653;
$card-background: rgba(160, 218, 248, 0.65);
$background-img: url('https://wallpaperaccess.com/full/2028728.jpg');
$header-text-color: #001219;
$shadow: (10px 10px);
$secondary-text-color: #F4A261;
$font: 'Yuji Syuku', serif;
$padding: 20px;
$more-space: 40px;
$header: 4vw;
$subheader: 2vw;
$smaller: 1.8vw;
$smallest: 1.2vw;

