$primary-background: #264653;
$header-text-color: #E9C46A;
$secondary-text-color: #F4A261;
$font: 'Yuji Syuku', serif;
$padding: 20px;
$more-space: 40px;
$header: 4vw;
$subheader: 2vw;
$smaller: 1.8vw;
$smallest: 1.2vw;

