@import '_variables';
@import '_reset';
@import '_mixins';

body {
  background: $primary-background;
  color: $header-text-color;
  margin: 0 auto;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  font-family: $font;
  justify-content: center;
  align-items: center;
}

aside {
  border: 2px solid orange;
  justify-content: center;
  justify-items: flex-start;
  width: 10%;
  display: flex;
}

header {
  border: 2px solid red;
  height: 20%;
  display: flex;
  justify-content: center;
  padding: 20px;
}

header > div > img {
  height: 200px;
}

main {
  border: 2px solid blue;
  width: 90%;
  margin-right: 20px;
}

section {
  border: 2px solid green;
  height: 15%;
}

.main-trips-board {
  border: 2px solid yellow;
  display: flex;
  flex-direction: row;
  height: 40%;
}

.main-trips-board-destination {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.new-trip-form {
  padding: 20px;
}

.main-current-trip {
  border: 2px solid magenta;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.main-current-trip-board, .main-form {
  display: flex;
  justify-content: center;
  align-items: center;

}

.main-current-trip-board {
  flex-direction: column;
  width: 100%;
}

.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20%;
}

article {
  border: 2px solid pink;
  width: 33.33%;
  margin-bottom: 20px;
  padding-left: 20px;
}

p {
  padding: 10px;
  font-size: 1vw;
}

button {
  border: 0px;
  border-radius: 5px;
  padding: 5px;
  font-family: $font;
  font-size: large;
}

article > img {
  height: 140px;
  width: 200px;
  padding: 10px;
}

h1 {
  font-size: 4vw;
  padding-bottom: 40px;
}

h2 {
  font-size: 2vw;
}

h3 {
  font-size: 1.2vw;
}

select, input {
  font-family: $font;
  padding: 5px;
  padding-right: 20px;
}

label {
  padding-left: 10px;
}

.hidden {
  display: none;
}

.trip-board-header {
  padding: 20px;
  font-size: 2vw;
}

.current-trip-message {
  font-size: 1.8vw;
}



